
.styleButton {
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #3CBE6B;
    border: 1px solid white;
    color: white;
    outline: none;
}

.styleButton:hover {
    cursor: pointer;
    background-color: #FB7302;
}

.styleButton:disabled {
    background-color: darkgrey;
}

.styleButton + .styleButton {
    margin-left: 12px;
}


/* Telefoon in portrait mode */
@media screen and (max-width: 576px) {
    .styleButton {
        width: 75px;
        font-size: 0.5em;
    }
    .styleButton + .styleButton {
        margin-left: 0.5em;
    }
}

/* Telefoon in landscape mode */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .styleButton {
        width: 100px;
        font-size: 0.75em;
    }
    .styleButton + .styleButton {
        margin-left: 0.75em;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .styleButton {
        width: 125px;
        font-size: 1em;
    }
    .styleButton + .styleButton {
        margin-left: 1em;
    }
}

/* Grote tablets en kleine computer schermen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .styleButton {
        width: 125px;
        font-size: 1em;
    }
    .styleButton + .styleButton {
        margin-left: 1em;
    }
}

/* Standaard computer scherm */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .styleButton {
        width: 150px;
        font-size: 1.25em;
    }
    .styleButton + .styleButton {
        margin-left: 1em;
    }
}


/* Extra Large computer schermen */
@media screen and (min-width: 1600px) {
    .styleButton {
        width: 150px;
        font-size: 1.25em;
    }
    .styleButton + .styleButton {
        margin-left: 1em;
    }
}
