
/* NAVBAR CONTAINER*/

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    border-bottom: 1px solid #3CBE6B;
}

/* LOGO CONTAINER*/

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* EMAIL-BUTTON-MENU CONTAINER */

.button-menu-container {
    display: flex;
    flex-direction: row;
}

/* LOGOUT BUTTON & EMAIL-NAME */

.logout-name-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.displayEmail {
    color: #FFFFFF;
}

/* LOGIN & REGISTER BUTTON*/

.login-register-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* HAMBURGER MENU */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-icon {
    cursor: pointer;
}

.bar {
    background-color: #3CBE6B;
    transition: 0.4s;
}

.menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #3CBE6B;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.menu-items a,
.menu-items a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.menu-items a:hover {
    color: black;
}

.hamburger-menu.open .menu-items {
    visibility: visible;
    opacity: 1;
}

/* Telefoon in portrait mode */
@media screen and (max-width: 576px) {
    .logo-container img {
        width: 160px;
        margin: 0.1em;
    }
    .menu-items {
        right: 2.5em;
        top: 4em;
        font-size: 0.75em;
        gap: 1em;
        padding: 1em;
    }
    .button-menu-container {
        gap: 0.5em;
    }
    .logout-name-div {
        flex-basis: 150px;
        gap: 0.5em;
    }
    .hamburger-menu {
        padding: 0.5em;
    }
    .bar {
        width: 20px;
        height: 2px;
        margin: 6px 0;
    }
    .hamburger-menu.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .hamburger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Telefoon in landscape mode */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .logo-container img {
        width: 250px;
        margin: 0.25em;
    }
    .menu-items {
        right: 3.5em;
        top: 5.75em;
        font-size: 0.75em;
        gap: 1em;
        padding: 1.5em;
    }
    .button-menu-container {
        gap: 1.75em;
    }
    .logout-name-div {
        flex-basis: 200px;
        gap: 0.75em;
    }
    .hamburger-menu {
        padding: 1em;
    }
    .bar {
        width: 20px;
        height: 2px;
        margin: 6px 0;
    }
    .hamburger-menu.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .hamburger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo-container img {
        width: 300px;
        margin: 0.5em;
    }
    .menu-items {
        right: 3.5em;
        top: 5.75em;
        font-size: 1em;
        gap: 1em;
        padding: 1.25em;
    }
    .button-menu-container {
        gap: 1.5em;
    }
    .logout-name-div {
        flex-basis: 300px;
        gap: 1.5em;
    }
    .hamburger-menu {
        padding: 1em;
    }
    .bar {
        width: 25px;
        height: 2px;
        margin: 8px 0;
    }
    .hamburger-menu.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .hamburger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -6px);
    }
}

/* Grote tablets en kleine computer schermen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo-container img {
        width: 300px;
        margin: 0.5em;
    }
    .menu-items {
        right: 3.5em;
        top: 5.75em;
        font-size: 1em;
        gap: 1em;
        padding: 1.25em;
    }
    .button-menu-container {
        gap: 1.5em;
    }
    .logout-name-div {
        flex-basis: 300px;
        gap: 1.5em;
    }
    .hamburger-menu {
        padding: 1em;
    }
    .bar {
        width: 25px;
        height: 2px;
        margin: 8px 0;
    }
    .hamburger-menu.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .hamburger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -6px);
    }
}

/* Standaard computer scherm */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .logo-container img {
        width: 350px;
        margin: 0.5em;
    }
    .menu-items {
        right: 4em;
        top: 5.5em;
        font-size: 1.25em;
        gap: 0.75em;
        padding: 1.25em;
    }
    .button-menu-container {
        gap: 2em;
    }
    .logout-name-div {
        flex-basis: 400px;
        gap: 2em;
    }
    .hamburger-menu {
        padding: 1.5em;
    }
    .bar {
        width: 30px;
        height: 3px;
        margin: 10px 0;
    }
    .hamburger-menu.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-12px, 6px);
    }
    .hamburger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-12px, -6px);
    }
}


/* Extra Large computer schermen */
@media screen and (min-width: 1600px) {
    .logo-container img {
        width: 450px;
        margin: 0.75em;
    }
    .menu-items {
        right: 4.5em;
        top: 6.75em;
        font-size: 1.25em;
        gap: 1em;
        padding: 1.5em;
    }
    .button-menu-container {
        gap: 3em;
    }
    .logout-name-div {
        flex-basis: 400px;
        gap: 2em;
    }
    .hamburger-menu {
        padding: 3.5em;
    }
    .bar {
        width: 30px;
        height: 3px;
        margin: 10px 0;
    }
    .hamburger-menu.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-12px, 6px);
    }
    .hamburger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-12px, -6px);
    }
}

