
/* ALGEMEEN */

.accommodation-outer-container {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #EAE3D2;
    min-height: 100vh;
}


/* ACCOMMODATION HEADER */

.accommodation-header {
    background-image: url('../../assets/images/accommodationImage1.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #3CBE6B;
}

.accommodation-header-content {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* ACCOMMODATION TEXT SECTION */

.accommodation-text-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    text-align: left;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    border-top: 1px solid #3CBE6B;
    border-bottom: 1px solid #3CBE6B;
    background-color: #FFFFFF;
}

.accommodation-text-section-content {
    display: flex;
    flex-direction: column;
}

/* ACCOMMODATION FILTER BUTTON */

.accommodation-filter-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.accommodation-style-filter-menu {
    background-color: #3CBE6B;
    border-radius: 4px;
    border: 1px solid white;
    color: #FFFFFF;
    cursor: pointer;
}

/* ACCOMMODATION CARDS */

.accommodation-cards-outer-container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.accommodation-cards-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100vw;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
}

.accommodation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    flex-shrink: 1;
    flex-grow: 0;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    background-color: #3CBE6B;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.4);
}

.accommodation-card a,
.accommodation-card a:visited,
.accommodation-card a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.accommodation-card a:hover {
    color: #FB7302;
}

/* ACCOMMODATION MEDIA QUERIES */

/* Telefoon in portrait mode */
@media screen and (max-width: 576px) {

    .select-campgrounds-page label{
        font-size: 0.5em;
    }
    .select-campgrounds-page select{
        font-size: 0.5em;
    }
}

/* Telefoon in landscape mode */
@media screen and (min-width: 576px) and (max-width: 767px) {

    .select-campgrounds-page label{
        font-size: 0.75em;
    }
    .select-campgrounds-page select{
        font-size: 0.75em;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .select-campgrounds-page label{
        font-size: 1em;
    }
    .select-campgrounds-page select{
        font-size: 1em;
    }
}

/* Grote tablets en kleine computer schermen */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    .select-campgrounds-page label{
        font-size: 1em;
    }
    .select-campgrounds-page select{
        font-size: 1em;
    }

}

/* Standaard computer scherm */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .accommodation-header-content {
        padding: 10em 1em;
        flex-basis: 80%;
        margin: 1em;
    }
    .accommodation-header-content h1 {
        margin: 1em;
    }
    .accommodation-text-section {
        margin: 5em 0 3em 0;
        padding: 1em 2em;
        line-height: 1.75em;
    }
    .accommodation-text-section-content {
        max-width: 50%;
    }
    .accommodation-text-section-content h3 {
        margin: 1em 0;
    }
    .accommodation-text-section-content h5 {
        margin-bottom: 1em;
    }
    .accommodation-filter-and-buttons {
        margin: 2.5em 0;
    }
    .accommodation-style-filter-menu {
        width: 200px;
        font-size: 1.25em;
        padding: 0.5em 1em;
    }
    .accommodation-cards-inner-container {
        padding: 0 1.5em;
        gap: 3em;
        margin: 0 1em;
    }
    .accommodation-card {
        width: 500px;
        height: 375px;
        margin: 3em;
        padding: 0.5em;
    }
    .select-campgrounds-page label{
        font-size: 1.25em;
    }
    .select-campgrounds-page select{
        font-size: 1.25em;
    }
}

/* Extra Large computer schermen */
@media screen and (min-width: 1600px) {
    .accommodation-header-content {
        padding: 20em 1em;
        flex-basis: 60%;
        margin: 1em;
    }
    .accommodation-header-content h1 {
        margin: 1em;
    }
    .accommodation-text-section {
        margin: 5em 0 3em 0;
        padding: 1em 2em;
        line-height: 2em;
    }
    .accommodation-text-section-content {
        max-width: 60%;
    }
    .accommodation-text-section-content h3 {
        margin: 1em 0;
    }
    .accommodation-text-section-content h5 {
        margin-bottom: 1em;
    }
    .accommodation-filter-and-buttons {
        margin: 3em 0;
    }
    .accommodation-style-filter-menu {
        width: 200px;
        font-size: 1.25em;
        padding: 0.5em 1em;
    }
    .accommodation-cards-inner-container {
        padding: 0 2em;
        gap: 8em;
        margin: 0 4em;
    }
    .accommodation-card {
        width: 600px;
        height: 450px;
        margin: 2em;
        padding: 0.5em;
    }
    .select-campgrounds-page label{
        font-size: 1.25em;
    }
    .select-campgrounds-page select{
        font-size: 1.25em;
    }
}
