.filtered-list {
    max-height: 200px; /* Maximaal zichtbare rijen voordat er wordt gescrold */
    overflow-y: auto;
    border: 1px solid red;
}

.filtered-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filtered-list li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.filtered-list li:last-child {
    border-bottom: none;
}
