
/* ALGEMEEN */

.signup-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100vh;
    background-image: url('../../assets/images/background-image-signup.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

/* SIGNUP HEADER */

.signup-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.signup-header-content {
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* SIGNUP FORM */

.signup-form-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 12px 12px 12px rgba(255, 255, 255, 0.5);
    border: 2px solid #FFFFFF;
}

.signup-form-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
}

.signup-form-entry-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.signup-form-label-class-style {
    color: #FFFFFF;
    text-align: left;
}

.signup-form-input-class-style {
    border-radius: 5px;
}

.signup-form-input-class-style:hover {
    background-color: #FB7302;
    color: #FFFFFF;
}

.signup-form-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* SIGNUP REMARK */

.signup-remark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.signup-remark-content {
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.signup-style-link a,
.signup-style-link a:visited {
    text-decoration: none;
    color: #3CBE6B;
}

.signup-style-link a:hover {
    color: #FB7302;
}

/* SIGNUP MEDIA QUERIES */

/* Telefoon in portrait mode */
@media screen and (max-width: 576px) {
    .signup-header {
        margin: 4em 0;
    }
    .signup-header-content {
        margin: 0.5em;
    }
    .signup-form-style {
        width: 95%;
        margin: 0;
        padding: 1.5em 0;
    }
    .signup-form-header {
        margin-bottom: 1.5em;
    }
    .signup-form-entry-style {
        margin-bottom: 0.75em;
        gap: 0.5em;
    }
    .signup-form-label-class-style {
        font-size: 0.75em;
        padding: 0.1em;
        width: 30%;
    }
    .signup-form-input-class-style {
        font-size: 0.75em;
        padding: 0.1em;
        width: 70%;
    }
    .signup-form-button {
        margin: 1.5em 0 0.75em 0;
    }
    .signup-remark {
        margin: 5em 0;
    }
    .signup-remark-content {
        margin: 0.5em;
    }
}

/* Telefoon in landscape mode */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .signup-header {
        margin: 3em 0;
    }
    .signup-header-content {
        margin: 1em;
    }
    .signup-form-style {
        width: 85%;
        margin: 0;
        padding: 2em 0;
    }
    .signup-form-header {
        margin-bottom: 2em;
    }
    .signup-form-entry-style {
        margin-bottom: 1em;
        gap: 1em;
    }
    .signup-form-label-class-style {
        font-size: 1em;
        padding: 0.1em;
        width: 30%;
    }
    .signup-form-input-class-style {
        font-size: 1em;
        padding: 0.1em;
        width: 70%;
    }
    .signup-form-button {
        margin: 2em 0 1em 0;
    }
    .signup-remark {
        margin: 4em 0;
    }
    .signup-remark-content {
        margin: 1em;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .signup-header {
        margin: 6em 0 4em 0;
    }
    .signup-header-content {
        margin: 1em;
    }
    .signup-form-style {
        width: 85%;
        margin: 0;
        padding: 3em 0;
    }
    .signup-form-header {
        margin-bottom: 2.25em;
    }
    .signup-form-entry-style {
        margin-bottom: 1.25em;
        gap: 1.25em;
    }
    .signup-form-label-class-style {
        font-size: 1em;
        padding: 0.2em;
        width: 30%;
    }
    .signup-form-input-class-style {
        font-size: 1em;
        padding: 0.2em;
        width: 70%;
    }
    .signup-form-button {
        margin: 2.5em 0 1em 0;
    }
    .signup-remark {
        margin: 6em 0;
    }
    .signup-remark-content {
        margin: 1em;
    }
}

/* Grote tablets en kleine computer schermen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .signup-header {
        margin: 6em 0 5em 0;
    }
    .signup-header-content {
        margin: 1em;
    }
    .signup-form-style {
        width: 85%;
        margin: 0;
        padding: 3em 0;
    }
    .signup-form-header {
        margin-bottom: 2.5em;
    }
    .signup-form-entry-style {
        margin-bottom: 1.25em;
        gap: 1.5em;
    }
    .signup-form-label-class-style {
        font-size: 1.25em;
        padding: 0.2em;
        width: 30%;
    }
    .signup-form-input-class-style {
        font-size: 1.25em;
        padding: 0.2em;
        width: 70%;
    }
    .signup-form-button {
        margin: 2.5em 0 1.5em 0;
    }
    .signup-remark {
        margin: 6em 0;
    }
    .signup-remark-content {
        margin: 1em;
    }
}

/* Standaard computer scherm */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .signup-header {
        margin: 4em 0;
    }
    .signup-header-content {
        margin: 1em;
    }
    .signup-form-style {
        width: 70%;
        margin: 0;
        padding: 4em 0 3em 0;
    }
    .signup-form-header {
        margin-bottom: 3em;
    }
    .signup-form-entry-style {
        margin-bottom: 1.5em;
        gap: 1.5em;
    }
    .signup-form-label-class-style {
        font-size: 1.25em;
        padding: 0.2em;
        width: 30%;
    }
    .signup-form-input-class-style {
        font-size: 1.25em;
        padding: 0.2em;
        width: 70%;
    }
    .signup-form-button {
        margin: 3em 0 2em 0;
    }
    .signup-remark {
        margin: 6em 0;
    }
    .signup-remark-content {
        margin: 1em;
    }
}

/* Extra Large computer schermen */
@media screen and (min-width: 1600px) {
    .signup-header {
        margin: 5em 0;
    }
    .signup-header-content {
        margin: 1em;
    }
    .signup-form-style {
        width: 40%;
        margin: 0;
        padding: 5em 0 3em 0;
    }
    .signup-form-header {
        margin-bottom: 3em;
    }
    .signup-form-entry-style {
        margin-bottom: 1.5em;
        gap: 1.5em;
    }
    .signup-form-label-class-style {
        font-size: 1.5em;
        padding: 0.25em;
        width: 30%;
    }
    .signup-form-input-class-style {
        font-size: 1.5em;
        padding: 0.25em;
        width: 70%;
    }
    .signup-form-button {
        margin: 3em 0 2em 0;
    }
    .signup-remark {
        margin: 5em 0;
    }
    .signup-remark-content {
        margin: 1em;
    }
}

