
/* Telefoon in portrait mode */
@media screen and (max-width: 576px) {
  .main-content {
    padding-top: 3em;
  }
}

/* Telefoon in landscape mode */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .main-content {
    padding-top: 5em;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-content {
    padding-top: 5em;
  }
}

/* Grote tablets en kleine computer schermen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-content {
    padding-top: 5em;
  }
}

/* Standaard computer scherm */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .main-content {
    padding-top: 7em;
  }
}

/* Extra Large computer schermen */
@media screen and (min-width: 1600px) {
  .main-content {
    padding-top: 10em;
  }
}
