@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Neucha&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Times New Roman', cursive;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', 'Times New Roman', cursive;
}

/* Media query for smartphones */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
}

/* Media query for laptops and widescreen displays*/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}
