
/* ALGEMEEN */

.outer-container-homepage {
    background-color: #EAE3D2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

/* HOMEPAGE HEADER */

.homepage-header {
    background-image: url('../../assets/images/endless-road-homepage-header.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #40CD32;
}

.homepage-header-content {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

/* MAIN */

.homepage-cards-outer-container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.homepage-cards-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 100vw;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
}

.homepage-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    flex-shrink: 1;
    flex-grow: 0;
    color: white;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 1px solid #40CD32;
}

.homepage-card a,
.homepage-card a:visited,
.homepage-card a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.homepage-card a:hover {
    color: #FB7302;
}

/* Telefoon in portrait mode */
@media screen and (max-width: 576px) {
    .homepage-header-content {
        padding: 3em 1em;
        flex-basis: 80%;
        margin: 1em;
    }
    .homepage-header-content h1 {
        padding: 0.75em 0;
    }
    .homepage-header-content h4 {
        padding: 0.75em 0;
    }
    .homepage-cards-inner-container {
        padding: 2em 0.75em;
        gap: 0.5em;
        margin: 0.5em;
    }
    .homepage-card {
        width: 300px;
        height: 225px;
        margin: 0.75em;
    }
}

/* Telefoon in landscape mode */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .homepage-header-content {
        padding: 5em 1em;
        flex-basis: 70%;
        margin: 1em;
    }
    .homepage-header-content h1 {
        padding: 0.75em 0;
    }
    .homepage-header-content h4 {
        padding: 0.75em 0;
    }
    .homepage-cards-inner-container {
        padding: 2em 0.75em;
        gap: 0.5em;
        margin: 1em;
    }
    .homepage-card {
        width: 280px;
        height: 210px;
        margin: 0.5em;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .homepage-header-content {
        padding: 5em 1em;
        flex-basis: 70%;
        margin: 1em;
    }
    .homepage-header-content h1 {
        padding: 0.75em 0;
    }
    .homepage-header-content h4 {
        padding: 0.75em 0;
    }
    .homepage-cards-inner-container {
        padding: 3em 1em;
        gap: 2em;
        margin: 1.5em;
    }
    .homepage-card {
        width: 300px;
        height: 225px;
        margin: 0.75em;
    }
}

/* Grote tablets en kleine computer schermen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .homepage-header-content {
        padding: 5em 1em;
        flex-basis: 70%;
        margin: 1em;
    }
    .homepage-header-content h1 {
        padding: 0.75em 0;
    }
    .homepage-header-content h4 {
        padding: 0.75em 0;
    }
    .homepage-cards-inner-container {
        padding: 3em 1em;
        gap: 1.5em;
        margin: 2em;
    }
    .homepage-card {
        width: 400px;
        height: 300px;
        margin: 1.5em;
    }
}

/* Standaard computer scherm */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .homepage-header-content {
        padding: 5em 1em;
        flex-basis: 70%;
        margin: 1em;
    }
    .homepage-header-content h1 {
        padding: 1em 0;
    }
    .homepage-header-content h4 {
        padding: 1em 0;
    }
    .homepage-cards-inner-container {
        padding: 1.5em;
        gap: 4em;
        margin: 3em;
    }
    .homepage-card {
        width: 500px;
        height: 375px;
        margin: 2em;
    }
}

/* Extra Large computer schermen */
@media screen and (min-width: 1600px) {
    .homepage-header-content {
        padding: 8em 1em;
        flex-basis: 50%;
        margin: 1em;
    }
    .homepage-header-content h1 {
        padding: 1em 0;
    }
    .homepage-header-content h4 {
        padding: 1.5em 0;
    }
    .homepage-cards-inner-container {
        padding: 2em;
        gap: 8em;
        margin: 4em;
    }
    .homepage-card {
        width: 600px;
        height: 450px;
        margin: 2em;
    }
}
