
/* HEADER */

header {
    background-image: url('../../assets/images/endless-road-homepage-header.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #40CD32;
}

.header-content {
    max-width: 1100px;
    margin: 0 ;
    color: white;
}

/* MAIN */

.homePageCard-outer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #EAE3D2;
}

.homePageCard-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 90%;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 0;
}

.classHomePageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    flex-shrink: 1;
    flex-grow: 0;
    color: white;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 auto;
}

/* Media query for smartphones */
@media screen and (max-width: 650px) {
    .header-content {
        padding: 100px 0 40px 0;
    }
    .header-content h1 {
        margin: 10px;
    }
    .header-content h4 {
        margin: 20px;
    }
    .homePageCard-inner-container {
        margin: 25px 0;
        gap: 10px;
    }
    .classHomePageCard {
        width: 300px;
        height: 200px;
    }
}

/* Media query for tablets */
@media screen and (min-width: 651px) and (max-width: 1280px) {
    .header-content {
        padding: 150px 0 100px 0;
    }
    .header-content h1 {
        margin: 15px;
    }
    .header-content h4 {
        margin: 25px;
    }
    .homePageCard-inner-container {
        margin: 50px 0;
        gap: 20px;
    }
    .classHomePageCard {
        width: 450px;
        height: 300px;
    }
}

/* Media query for laptops and widescreen displays */
@media screen and (min-width: 1281px) {
    .header-content {
        padding: 200px 0 150px 0;
    }
    .header-content h1 {
        margin: 20px;
    }
    .header-content h4 {
        margin: 30px;
    }
    .homePageCard-inner-container {
        margin: 75px 0;
        gap: 30px;
    }
    .classHomePageCard {
        width: 600px;
        height: 400px;
    }
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0;
    border: 2px solid red;
}

.copyright-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 2px solid blue;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;
    padding:0 20px;
    border: 2px solid green;
}

.style-icon {
    width: 40px;
    height: 40px;
}